<main>
  <div>
    <div>
       <%= image_tag(@category.icon) %>
    </div>
    <div>
      <%= @category.name %>
    </div>
  </div>
  <div class="payment-div">
    <p>Total Payment:</p>
    <p> <%= @category.records.reduce(0) { |sum, item| sum + item.amount }%> </p>
  </div>
  <div>
    <% @category.most_recent.each do |record| %>
      <p> <%= record.name %> </p>
      <p>Transaction No <%= record.id %> </p>
      <p> <%= record.created_at.strftime("%d %b %Y at %I:%M%p") %> </p>
    <% end %>
  </div>
  <div>
    <%= button_to 'Add New Transaction', new_record_url, method: :get %>
  </div>
</main>