<main>
  <% @categories.each do |category| %>
    <%= link_to category_records_path(category) do %>
      <article>
        <div class="icon-placeholder">
          <%= image_tag(category.icon) %>
        </div>
        <div class="details-div">
          <div>
            <span><%= category.name %></span>
            <span>
              <%= category.records.reduce(0) { |sum, item| sum + item.amount } %>
            </span>
          </div>
          <div><%= category.created_at.strftime('%d %b %Y') %></div>
        </div>
      </article>
    <% end %>
  <% end %>
  <div>
    <%= button_to 'Add New Category', new_category_url, method: :get %>
  </div>
</main>