<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/29d7bf5b00.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <div>
      <% flash.each do |name, msg| -%>
        <%= content_tag :span, msg, class: name %>
      <% end -%>
    </div>
    <%= yield %>
  </body>
</html>
